body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* フッターを画面の下に固定 */
}
.wrapper{
    background-image: url('../img/branch.jpg'); /* 背景画像 */
    width: 100%; /* 幅を100%に設定 */
    height: 100vh; /* ビューポートの高さを100%に設定 */
    background-size: cover; /* 背景画像をカバーする */
    background-position: center center; /* 背景画像の位置を中央に設定 */
    background-repeat: no-repeat; /* 背景画像の繰り返しをなしに設定 */
    display: flex;
    flex-direction: column;
}
.Home{
    overflow: auto;
}
.wf-roundedmplus1c { 
    font-family: "M PLUS Rounded 1c"; 
}
.content-width{
    width:90%;
    margin: auto;
}