.p-logo__image {
    max-width: 100px;
}
.p-logo{
    width: 20%;
}
@media (min-width: 768px) {
    .p-logo__image {
        max-width: 130px;
        
    }
}

@media (min-width: 1024px) {
    .p-logo__image {
        max-width: 200px;
    }
}
