* {
  margin: 0;
  padding: 0;
}
body {
  min-width: 1200px;
}
.wapper {
  width: 1200px;
  margin: auto;
}
.newsframe {
  margin: auto;
  width: 960px;
}
.header {
  margin: auto;
  width: 960px;
  line-height: 80px;
}
h1 {
  float: left;
}
.headmenu {
  float: right;
  list-style: none;
}
.menu {
  float: left;
  padding-left: 20px;
}
a {
  text-decoration: none;
  color: black;
}
.menu a::before {
  content: "▶︎";
  color: #006699;
  padding-right: 5px;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.mainimg {
  width: 1200px;
  margin: auto;
}
h2 {
  text-align: center;
  margin: 50px 0;
}
.news1 {
  float: left;
  padding-right: 30px;
  width: 133px;
}
.news2 {
  float: left;
  background-color: #006699;
  color: white;
  width: 90px;
  text-align: center;
  margin-right: 40px;
}
.orange {
  background-color: orange;
}
.news3 {
  width: 69%;
  float: left;
}
.news3 a {
  text-decoration: underline;
  color: black;
}
.frame {
  border-bottom: dotted 2px gainsboro;
  padding: 20px 0;
}
.frame:nth-child(1) {
  border-top: solid 2px #006699;
}
.box {
  float: left;
  width: 300px;
}
.box:nth-child(2) {
  padding: 0 30px;
}
.box:nth-child(5) {
  padding: 0 30px;
}
.box:nth-child(3n + 1) {
  clear: both;
}
.fullbox {
  padding-bottom: 50px;
}
.text {
  padding-bottom: 30px;
}
.event {
  overflow: hidden;
}
.linkbutton {
  background-color: #006699;
  width: 200px;
  text-align: center;
  margin: auto;
  border-radius: 5px;
  line-height: 45px;
  margin-bottom: 150px;
}
.linkbutton a {
  color: white;
  display: block;
}
.foot {
  text-align: center;
  background-color: #006699;
  color: white;
  line-height: 45px;
  min-width: 1200px;
}
.footbutton {
  width: 1030px;
  margin: auto;
}
.return {
  background-color: #006699;
  height: 60px;
  width: 60px;
  position: relative;
  float: right;
  margin-bottom: 50px;
}
.return a::after {
  content: "";
  display: inline-block;
  border-top: 8px solid white;
  border-left: 8px solid white;
  width: 23px;
  height: 23px;
  transform: rotate(45deg);
  position: absolute;
  top: 22px;
  left: 15px;
}
.return a {
  display: block;
  height: 60px;
}
input[type="checkbox"] {
  display: none;
}
.sider {
  visibility: hidden;
  visibility: visible;
}
.slick-prev,
.slick-next {
  z-index: 1;
}
.slick-prev {
  left: 10px;
}
.slick-next {
  right: 10px;
}
.slick-dots {
  bottom: 40px;
}
.slick-slide img {
  margin: auto;
}
@media screen and (max-width: 639px) {
  body {
    min-width: 320px;
  }
  .header {
    width: auto;
    line-height: normal;
    margin: 6% 6%;
    text-align: center;
  }
  h1 {
    float: none;
    display: inline-block;
  }
  .menu {
    float: none;
    padding: 0;
  }
  .menu a::before {
    content: "";
  }
  .mainimg {
    width: auto;
  }
  .mainimg img {
    width: 100%;
  }
  .newsframe {
    width: auto;
    padding: 0 3%;
  }
  .wapper {
    width: auto;
  }
  h2 {
    margin: 10% 0 5% 0;
  }
  .news1 {
    float: left;
    padding-right: 30px;
    width: 133px;
  }
  .news2 {
    float: left;
    color: white;
    width: 90px;
    text-align: center;
    margin-right: 40px;
  }
  .news3 {
    width: 100%;
    clear: left;
    padding-top: 10px;
  }
  .box {
    float: left;
    width: 47%;
  }
  .menuimg {
    width: auto;
  }
  .menuimg img {
    width: 100%;
  }
  .box:nth-child(2) {
    padding: 0;
  }
  .box:nth-child(5) {
    padding: 0;
  }
  .box:nth-child(4) {
    clear: none;
  }
  .box:nth-child(2n + 1) {
    padding-right: 6%;
    clear: both;
  }
  .linkbutton {
    margin-bottom: 9%;
  }
  .foot {
    min-width: 100%;
  }
  .footbutton {
    width: auto;
  }

  /* ハンバンガーアイコン */
  #drawer-checkbox {
    display: none;
  }
  #drawer-icon {
    cursor: pointer;
    display: inline-block;
    height: 50px;
    position: relative;
    width: 50px;
    background-color: #006699;
    border-radius: 5px;
  }
  #drawer-icon span {
    background: white;
    border-radius: 4px;
    display: block;
    height: 10%;
    left: 60%;
    margin: -8% 0 0 -42%;
    position: absolute;
    top: 52%;
    transition: all 0.3s ease-in-out;
    width: 65%;
  }
  #drawer-icon span::before,
  #drawer-icon span::after {
    -webkit-transform: rotate(0);
    background: white;
    border-radius: 4px;
    content: "";
    display: block;
    height: 100%;
    left: 50%;
    margin: -8% 0 0 -50%;
    position: absolute;
    top: 70%;
    transform: rotate(0);
    transition: all 0.3s ease-in-out;
    width: 100%;
  }
  #drawer-icon span::before {
    margin-top: -38%;
  }
  #drawer-icon span::after {
    margin-top: 19%;
  }
  #drawer-checkbox:checked ~ #drawer-icon span {
    background: rgba(51, 51, 51, 0);
  }
  #drawer-checkbox:checked ~ #drawer-icon span::before,
  #drawer-checkbox:checked ~ #drawer-icon span::after {
    content: "";
    display: block;
    height: 100%;
    left: 50%;
    margin: -8% 0 0 -42%;
    position: absolute;
    top: 50%;
    width: 100%;
  }
  #drawer-checkbox:checked ~ #drawer-icon span::before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #drawer-checkbox:checked ~ #drawer-icon span::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* ドロワーのコンテンツエリア部分 */

  #drawer-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    width: 90%;
    max-width: 90%;
    height: 100%;
    background: white;
    transition: all 0.3s ease-in-out 0s;
    transform: translateX(-100%);
  }
  #drawer-checkbox:checked ~ #drawer-content {
    transform: translateX(0);
    box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
  }

  /* ドロワー以外の部分をクリックで閉じるようにする部分 */
  /* ポイントはz-indexをコンテントよりクローズを小さくすること */
  #drawer-close {
    display: none;
    position: fixed;
    z-index: 39;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
  }
  #drawer-checkbox:checked ~ #drawer-close {
    display: block;
    opacity: 0.3;
  }
  .headmenu {
    list-style: none;
    margin-top: 5%;
    width: 100%;
  }
  .menu a {
    text-decoration: none;
    color: white;
    display: block;
  }
  .menu {
    border-bottom: solid 2px white;
    line-height: 250%;
    text-align: left;
    background-color: #006699;
  }
  .menubox {
    float: right;
  }
}
